<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- com.tencent.bugly -->

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- packageManager.getApplicationInfo  -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- update self -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- save image to album -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <!--
    APP 有两个进程, 主进程 + :remote 进程
    主进程: 主要是 activity 的前端界面
    remote进程: 主要是 service
    -->

    <application
        android:name="li.songe.gkd.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name="li.songe.gkd.MainActivity"
            android:configChanges="uiMode|screenSize|orientation|keyboardHidden|touchscreen|smallestScreenSize|screenLayout|navigation|mnc|mcc|locale|layoutDirection|keyboard|fontWeightAdjustment|fontScale|density|colorMode"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">

            <!--
            about android:configChanges
            https://developer.android.com/guide/topics/resources/runtime-changes
            https://developer.android.com/guide/topics/manifest/activity-element.html#config
            -->

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="import"
                    android:scheme="gkd" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.GkdAbService"
            android:exported="false"
            android:label="@string/ab_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/ab_desc" />
        </service>
        <service
            android:name=".service.ManageService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":remote" />
        <service
            android:name=".debug.ScreenshotService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:process=":remote" />
        <service
            android:name=".debug.HttpService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":remote" />
        <service
            android:name=".debug.FloatingService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":remote" />
        <service
            android:name=".service.ShizukuService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
            android:process=":remote" />


    </application>

</manifest>