<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="li.songe.gkd">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- com.tencent.bugly -->

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- packageManager.getApplicationInfo  -->

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name="li.songe.gkd.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Gkd.NoActionBar">

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name="li.songe.gkd.MainActivity"
            android:configChanges="uiMode|screenSize|orientation|keyboardHidden|touchscreen|smallestScreenSize|screenLayout|navigation|mnc|mcc|locale|layoutDirection|keyboard|fontWeightAdjustment|fontScale|density|colorMode"
            android:exported="true"
            android:launchMode="singleInstance">

            <!--
            about android:configChanges
            https://developer.android.com/guide/topics/resources/runtime-changes
            https://developer.android.com/guide/topics/manifest/activity-element.html#config
            -->

            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="i"
                    android:path="/"
                    android:scheme="gkd" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="li.songe.gkd.accessibility.GkdAbService"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_description" />
        </service>
        <service
            android:name=".debug.ScreenshotService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".debug.server.HttpService"
            android:exported="false" />
        <service
            android:name=".debug.FloatingService"
            android:exported="false" />
        <service
            android:name=".accessibility.KeepAliveService"
            android:exported="false" /> <!-- This provider is required by Shizuku, remove this if your app only supports Sui -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>